@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0, 0;
  padding: 0, 0;
  line-height: normal;
}

.logo-container {
  -webkit-transition: 150ms box-shadow ease;
  transition: 150ms box-shadow ease;
}

.color-change {
  background: -webkit-linear-gradient(-45deg, #24bff2 0%, #2458f2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-circle {
  background: linear-gradient(135deg, #ffc619 0%, #ff7919 100%);
}

.circle-image-2 {
  box-shadow: 0px 4.56288px 34.2216px rgba(0, 0, 0, 0.08);
}

.circle-image-1 {
  box-shadow: 0px 4.56288px 50.1917px rgba(0, 0, 0, 0.08);
}

.container-size {
  @media (max-width: 1300px) {
    margin: auto 75px;
  }
}

.second-content-image {
  box-shadow: 0px 4.70932px 40.5751px rgba(0, 0, 0, 0.1);
}

.second-content-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}

.icons-css svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
}

.icons-css-2 svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
